textarea {
    margin: 5px 0; 
    width: 196px; 
    height: 34px;
    border: 1px solid black;
    border-radius: 4px;
}
input[type="text"] {
    width: 200px;
    border: 1px solid black;
    border-radius: 4px;
}

input {
    border: 2px solid black;
    border-radius: 4px;
}

body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}

.content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.errors {
    color: rgb(218, 0, 0);
    font-weight: bold;
}

img {
    display: block;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
}
